<div>
  <input type="text" #cedula placeholder="Cedula">
	<input type="text" #firstName placeholder="Primero nombre">
	<input type="text" #lastName placeholder="Apellidos">
	<button (click)="saveFirstNameAndLastName(cedula.value, firstName.value, lastName.value)">Guardar</button>	
  <button (click)="delete()">Eliminar</button>
  
  <br />
  <li *ngFor="let i of items | async">
    {{i.$key}} - {{i.cedula}} - {{ i.firstname }} - {{ i.lastname }}
  </li>

  <br />
  <div> {{ (user | async)?.uid }} </div>
  <button (click)="login()">Login</button>
  <button (click)="logout()">Logout</button>

  <button (click)="loginWithGoogle()">Login with Google</button>
  <h2>{{user.uid}}</h2>
  <h2>{{user.providerData.phoneNumber}}</h2>
  <h2>{{user.providerData}}</h2>
  <h2>{{user.displayName}}</h2>
  <h2>{{user.email}}</h2>
  <h2>{{user.phoneNumber}}</h2>
  <img src="{{user.photoURL}}" />
  <h2>{{user.providerId}}</h2>
  <h2>{{user.uid}}</h2>
</div>